@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=D2+Coding&display=swap");

body {
  font-family: "D2 Coding", monospace;
}

.react-calendar__navigation__arrow {
  display: none;
}
.ocowan {
  background: url("../images/ocowan.png") center/cover !important;
}

.react-calendar__tile {
  padding: 21px 9px !important;
}
.english {
  font-family: "Inter var", sans-serif;
}
