@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}
pre.ql-syntax {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;

  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}
body {
  font-family: Pretendard, Roboto, "sans-serif";
}

* {
  font-weight: 600;
}

.react-calendar__navigation__arrow {
  display: none;
}
.ocowan {
  background: url("../images/ocowan.png") center/cover !important;
}

.react-calendar__tile {
  padding: 21px 9px !important;
}

.active {
  font-weight: 900;
}
